body {
    font-family: "Open Sans", sans-serif;
}

h1, h2, h3 {
    font-family: "Lobster", cursive;
}

h2 {
    color: #3045C5;
}

header {
    padding: 30px;
    background-image: linear-gradient(to right, #d3ca48, #414247, #16b947);
    color: white;
}

header h2 {
    color: #CEC8FF;
}

footer {
    background-image:linear-gradient(#CEC8FF,white);
    padding: 20px 0;
}

.row-content {
    padding: 50px 0;
    border-bottom: 1px ridge;
    min-height: 200px;
}

.navbar {
    background-color: #b38bbd;
}


.accordion-button {
    background-color: #d3d3d3;
}


body {
    background-image: url(https://images.pexels.com/photos/1687845/pexels-photo-1687845.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

